.descr-modal {
	display: flex;
	max-width: 880px;
	padding: 56px;
	@media (max-width: $md2+px) {
		padding: 24px;
		padding-top: 56px;
	}
	@media (max-width: $md3+px) {
		flex-direction: column;
	}

	&__image-preview {
		flex: 0 0 calc(50% - 45px);
		margin-right: 45px;
		@media (max-width: $md3+px) {
			margin-right: 0;
		}
	}

	&__info {
		flex: 0 0 50%;
	}

	&__title {
		margin-bottom: 4px;
		color: var(--color-black);

		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
	}

	&__type {
		margin-bottom: 16px;
		color: var(--color-pewter);

		font-size: 13px;
		line-height: 130%;
	}

	&__text {
		margin-bottom: 45px;

		font-weight: 400;
		font-size: 14px;
		line-height: 140%;

		color: var(--color-pewter);
		@media (max-width: $md3+px) {
			margin-bottom: 16px;
		}
	}

	&__composition {
		margin-bottom: 70px;

		font-weight: 400;
		font-size: 14px;
		line-height: 140%;

		color: var(--color-tundora);
		span {
			font-weight: 600;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 16px;
		}
	}

	&__value {
		margin-bottom: 20px;

		font-weight: 400;
		font-size: 14px;
		line-height: 140%;

		color: var(--color-tundora);
		span {
			font-weight: 600;
		}
	}

	&__weight {
		margin-bottom: 35px;
		color: var(--color-pewter);

		font-size: 13px;
		line-height: 130%;
	}
	&__order {
	}
}
