.contact {
	padding-top: 80px;
	padding-bottom: 80px;
	background: var(--color-tamarillo) url(../img/contact-bg.svg) center/cover no-repeat;
	color: var(--color-white);
	@media (max-width: $md3+px) {
		padding-top: 60px;
		padding-bottom: 242px;
		background: var(--color-tamarillo) url(../img/contact-bg--mb.svg) right/contain no-repeat;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__info {
		position: relative;
		flex: 0 0 auto;
		max-width: 302px;

		margin-right: 180px;
		@media (max-width: $md1+px) {
			margin-right: 100px;
		}
		@media (max-width: $md3+px) {
			flex: auto;
			max-width: none;
			margin-right: 0;
			margin-bottom: 56px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 15%;
			right: -50%;
			width: 110px;
			height: 110px;
			background: url(../img/dog.png) center/contain no-repeat;
			@media (max-width: $md1+px) {
				top: 25%;
				right: -25%;
			}
			@media (max-width: $md3+px) {
				top: 25%;
				right: 0;
			}
			@media (max-width: $md4+px) {
				top: 25%;
				right: -5%;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 40%;
			right: -50%;
			width: 180px;
			height: 180px;
			background: url(../img/beacon.png) center/contain no-repeat;
			@media (max-width: $md1+px) {
				top: 50%;
				right: -35%;
				width: 150px;
				height: 150px;
			}
			@media (max-width: $md3+px) {
				top: 95%;
				right: 0;
				width: 120px;
				height: 120px;
			}
			@media (max-width: $md4+px) {
				right: -10%;
			}
		}
	}

	&__form {
		position: relative;
		flex: 0 1 auto;
		margin-right: 75px;
		&::after {
			content: "";
			position: absolute;
			bottom: -15%;
			right: -20%;
			width: 104px;
			height: 104px;

			background: url(../img/apple.png) center/contain no-repeat;
			@media (max-width: $md1+px) {
				right: 0%;
			}
			@media (max-width: $md3+px) {
				bottom: -30%;
				left: 0;
				right: auto;
			}
		}
		@media (max-width: $md1+px) {
			margin-right: 0;
		}

		@media (max-width: $md3+px) {
			flex: auto;
		}
	}
}
