.pluses {
	background: url(../img/pluses-dashed-line.svg) center/contain no-repeat;
	padding-bottom: 180px;
	@media (max-width: $md3+px) {
		background: url(../img/dashes--mobile.svg) center / contain no-repeat;
		padding-bottom: 80px;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
	}

	&__heading {
		position: relative;
		margin-bottom: 57px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 32px;
			height: 28px;
			background: url(../img/dashes.svg) center/contain no-repeat;
			transform: translate(80%, 80%) rotate(180deg);
		}
		@media (max-width: $md3+px) {
			margin-bottom: 40px;
		}
	}

	&__list {
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		flex: 0 0 calc(25% - 30px);
		&:not(:last-child) {
			margin-right: 40px;
		}
		@media (max-width: $md2+px) {
			flex: 0 0 calc(50% - 20px);
			&:not(:last-child) {
				margin-right: 0;
			}
			&:not(:nth-child(2n)) {
				margin-right: 40px;
			}
			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 40px;
			}
		}
		@include maxwidth(570) {
			flex: 0 0 100%;

			&:not(:nth-child(2n)) {
				margin-right: 0;
			}
			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 0;
			}
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 40px;
			}
		}
	}
}
