/* Custom Select */
.select {
	position: relative;

	&__label {
		position: relative;
		display: block;

		color: #fff;

		text-align: center;
	}

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		height: 100%;
		width: 100%;

		opacity: 0;
		&--mobile {
			z-index: 2;
			opacity: 0;
		}
	}
}

.custom-select {
	position: relative;

	&__current {
		position: relative;
		z-index: 1;

		width: 100%;

		padding: 14px 16px;

		border-radius: 8px;
		background-color: var(--color-black-haze);
		color: var(--color-black);

		text-align: left;
		user-select: none;
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			right: 16px;
			top: 50%;

			width: 12px;
			height: 6px;

			background: url(../img/select-arrow.svg) center/cover no-repeat;

			transform: translateY(-50%);
			transition: all 0.25s ease;
		}
		&--show::after {
			top: 40%;

			transform: rotate(-180deg);
		}
	}

	&__list {
		position: absolute;
		z-index: 2;

		display: none;
		max-height: 200px;
		width: 100%;
		margin-top: 9px;
		padding: 8px 0;

		background-color: var(--color-black-haze);
		border-radius: 8px;

		overflow: hidden;
		overflow-y: auto;
		&--show {
			display: block;
		}
	}
	&__item {
		display: inline-block;
		width: 100%;
		padding: 10px;

		color: var(--color-black);

		transition: background-color 0.3s ease;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-mercury);
				transition: background-color 0.3s ease;
			}
		}
	}
}
