<section class="about section" id="about">
	<div class="about__container container">
		<div class="about__info">
			<h2 class="about__heading main-heading text-reset">
				Что такое BARF
			</h2>
			<p class="about__text main-text text-reset">
				BARF (Biologically Appropriate Raw Food) — система питания собак, основанная на сырых натуральных продуктах. Такой рацион максимально приближен к естественному пищевому поведению хищников, а значит биологически правилен.
			</p>
			<p class="about__text about__text--lg text-reset">
				После перехода на питание по системе BARF у собак:
			</p>
			<ul class="about__list list-reset">
				<li class="about__item main-text">Нормализуется пищеварение </li>
				<li class="about__item main-text">Проходят аллергические реакции</li>
				<li class="about__item main-text">Прекращается образование зубного камня</li>
				<li class="about__item main-text">Появляется больше энергии</li>
				<li class="about__item main-text">Увеличивается продолжительность жизни</li>
			</ul>
		</div>
		<div class="about__image">
			<img src="img/about-img.jpg" alt="Песик кушает мясо" class="about__img">
		</div>
		<div class="about__classification ">
			<div class="classification-swiper " data-mobile="false">
				<div class="classification-swiper__pagination swiper-pagination"></div>
				<div class="classification-swiper__wrapper">
					<div class="classification-swiper__slide classification-slide">
						<div class="classification-slide__wrapper">
							<h3 class="classification-slide__heading text-reset">
								Для взрослых
							</h3>
							<ul class="classification-slide__list list-reset">
								<li class="classification-slide__item classification-slide__item--steak">
									Мясо – 70%
								</li>
								<li class="classification-slide__item classification-slide__item--bone">
									Кости – 10%
								</li>
								<li class="classification-slide__item classification-slide__item--vegetables">
									Овощи – 7%
								</li>
								<li class="classification-slide__item classification-slide__item--liver">
									Печень – 5%
								</li>
								<li class="classification-slide__item classification-slide__item--intestines">
									Субпродукты – 5%
								</li>
								<li class="classification-slide__item classification-slide__item--bones">
									Семена/Орехи – 2%
								</li>
								<li class="classification-slide__item classification-slide__item--fruits">
									Фрукты – 1%
								</li>
							</ul>
						</div>
					</div>
					<div class="classification-swiper__slide classification-slide">
						<div class="classification-slide__wrapper">
							<h3 class="classification-slide__heading text-reset">
								Для щенков
							</h3>
							<ul class="classification-slide__list list-reset">
								<li class="classification-slide__item classification-slide__item--steak">
									Мясо – 58%
								</li>
								<li class="classification-slide__item classification-slide__item--bone">
									Кости – 17%
								</li>
								<li class="classification-slide__item classification-slide__item--vegetables">
									Овощи – 7%
								</li>
								<li class="classification-slide__item classification-slide__item--liver">
									Печень – 7%
								</li>
								<li class="classification-slide__item classification-slide__item--intestines">
									Субпродукты – 7%
								</li>
								<li class="classification-slide__item classification-slide__item--bones">
									Семена/Орехи – 3%
								</li>
								<li class="classification-slide__item classification-slide__item--fruits">
									Фрукты – 1%
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>