<section class="contact" id="contact">
	<div class="contact__container container">
		<div class="contact__info contact-info">
			<h2 class="contact-info__heading main-heading text-reset">
				Контакты
			</h2>
			<p class="contact-info__text main-text text-reset">
				Вы всегда можете с нами связаться
				по телефону или в мессенджерах
			</p>
			<a href="tel:+79000000000" class="contact-info__phone link-reset">
				+7 (900)000-00-00
			</a>
			<a href="https://api.whatsapp.com/send?phone=78051196325" target="_blank" rel="noopener" class="contact-info__link contact-info__link--wa link-reset">
				Написать в WhatsApp
			</a>
			<a href="https://telegram.me/ncl_ch" target="_blank" rel="noopener" class="contact-info__link contact-info__link--tg link-reset">
				Написать в Telegram
			</a>
			<p class="contact-info__text main-text text-reset">
				Подписывайтесь на наш <a href="#" class="contact-info__inst link-reset">
					Instagram
				</a>
				и следите за новостями
			</p>
		</div>
		<form action="" class="contact__form contact-form">
			<h3 class="contact-form__heading text-reset">
				Остались вопросы?
			</h3>
			<p class="contact-form__text main-text text-reset">
				Напишите нам и мы обязательно подробно на них ответим.
			</p>
			<div class="contact-form__fields fields">
				<div class="contact-form__item contact-form__item--name">
					<input type="text" id="input-name" class="contact-form__input  input input-reset" required>
					<label for="input-name" class="contact-form__label"> Имя </label>
				</div>
				<div class="contact-form__item contact-form__item--email">
					<input type="email" id="input-email" class="contact-form__input input input-reset" required>
					<label for="input-email" class="contact-form__label"> Email </label>
				</div>
				<div class="contact-form__item contact-form__item--textarea">
					<textarea class="contact-form__textarea input input-reset" required placeholder="Ваш вопрос..."></textarea>
				</div>
				<label class="contact-form__check check">
					<input class="check__input visually-hidden" type="checkbox">
					<span class="check__box"></span>
					<span class="check__text">Даю согласие на обработку
						персональных данных</span>
				</label>
				<button class="contact-form__submit btn-reset main-btn-link main-btn-link--white" type="submit">Отправить</button>
			</div>
		</form>
	</div>
</section>