<section class="delivery section" id="delivery">
	<div class="delivery__container container">
		<h2 class="delivery__heading main-heading text-reset" data-aos="fade-left" data-aos-delay="0">Как получить ZOOOV?</h2>
		<ul class="delivery__list list-reset">
			<li class="delivery__item delivery-item delivery-item--package" data-aos="fade-up" data-aos-anchor-placement="center-center	" data-aos-delay="0">
				<h3 class="delivery-item__heading text-reset">Закажите рацион</h3>
				<p class="delivery-item__text main-text text-reset">
					Выберите рацион для своей собаки. Если не знаете сколько
					и какой – <button class="delivery-item__btn modal-btn btn-reset" data-path="modal-calc">мы подскажем</button>.
				</p>
			</li>
			<li class="delivery__item delivery-item delivery-item--phone" data-aos="fade-up" data-aos-anchor-placement="center-center	" data-aos-delay="100">
				<h3 class="delivery-item__heading text-reset">Подтвердите заказ</h3>
				<p class="delivery-item__text main-text text-reset">
					Мы свяжемся с вами для подтверждения заказа
					и уточнения деталей.
				</p>
			</li>
			<li class="delivery__item delivery-item delivery-item--clock" data-aos="fade-up" data-aos-anchor-placement="center-center	" data-aos-delay="200">
				<h3 class="delivery-item__heading text-reset">Ожидайте доставки</h3>
				<p class="delivery-item__text main-text text-reset">
					Привозим заказ на следующий день. По СПб – 350₽, при заказе от 3 500₽ – бесплатно. Лен. область – по договоренности.
				</p>
			</li>
			<li class="delivery__item delivery-item delivery-item--heart" data-aos="fade-up" data-aos-anchor-placement="center-center	" data-aos-delay="300">
				<h3 class="delivery-item__heading text-reset">Радуйте своего питомца</h3>
				<p class="delivery-item__text main-text text-reset">
					Просто разморозьте рацион: при комнатной температуре – 3 часа, в холодильнике – 12-15 часов.
				</p>
			</li>
		</ul>
	</div>
</section>