<section class="diet section" id="diet">
	<div class="diet__container container">
		<div class="diet__info">
			<h2 class="diet__heading main-heading text-reset" data-aos="fade-up" data-aos-delay="0">
				Рационы <span class="ellipse" data-aos="stay">
					ZOOOV
					<svg class="ellipse__svg ellipse__svg--diet">
						<use xlink:href="img/sprite.svg#ellipse"></use>
					</svg>
				</span>
			</h2>
			<p class="diet__text text-reset main-text" data-aos="fade-up" data-aos-delay="0">
				Система питания взрослой собаки не подойдет для щенка, поэтому мы создали разные
				по составу рационы <span class="diet__text--strong">ZOOOV</span>. Вы сможете заказать полноценное питание исходя из возраста, веса и даже вкусовых предпочтений вашего друга. <span class="diet__text--strong">ZOOOV</span> заботится о каждой собаке.
			</p>
		</div>
		<div class="diet__swiper diet-swiper">
			<div class="diet-swiper__pagination swiper-pagination"></div>
			<div class="diet-swiper__wrapper">
				<div class="diet-swiper__slide product" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="0">
					<article class="product__wrapper">
						<div class="product__info">
							<img loading="lazy" src="img/diet-1.jpg" width="251" height="298" alt="Упаковка еды для взрослых собак" class="product__image">
							<h3 class="product__heading main-text text-reset">
								Для взрослых собак
							</h3>
							<div class="product__type">
								Индейка/Говядина
							</div>
							<p class="product__text text-reset">
								Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
							</p>
							<div class="product__weight text-reset">
								700г / 500г / 300г / 150г / 100г
							</div>
							<button type="button" class="product__btn btn-reset modal-btn" data-path='modal-descr' aria-label="Открыть описание"></button>
						</div>
						<button class="product__order main-btn-link main-btn-link--white btn-reset modal-btn" data-path='modal-order'>Заказать</button>
					</article>
				</div>
				<div class="diet-swiper__slide product" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="100">
					<article class="product__wrapper">
						<div class="product__info">
							<img loading="lazy" src="img/diet-2.jpg" width="251" height="298" alt="Упаковка еды для взрослых собак" class="product__image">
							<h3 class="product__heading main-text text-reset">
								Для щенков
							</h3>
							<div class="product__type">
								Индейка/Говядина
							</div>
							<p class="product__text text-reset">
								Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
							</p>
							<div class="product__weight text-reset">
								700г / 500г / 300г / 150г / 100г
							</div>
							<button type="button" class="product__btn btn-reset modal-btn" data-path='modal-descr' aria-label="Открыть описание"></button>
						</div>
						<button class="product__order main-btn-link main-btn-link--white btn-reset modal-btn" data-path='modal-order'>Заказать</button>
					</article>
				</div>
				<div class="diet-swiper__slide product" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="200">
					<article class="product__wrapper">
						<div class="product__info">
							<img loading="lazy" src="img/diet-3.jpg" width="251" height="298" alt="Упаковка еды для взрослых собак" class="product__image">
							<h3 class="product__heading main-text text-reset">
								Для взрослых собак
							</h3>
							<div class="product__type">
								Баранина/Кролик
							</div>
							<p class="product__text text-reset">
								Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
							</p>
							<div class="product__weight text-reset">
								700г / 500г / 300г / 150г / 100г
							</div>
							<button type="button" class="product__btn btn-reset modal-btn" data-path='modal-descr' aria-label="Открыть описание"></button>
						</div>
						<button class="product__order main-btn-link main-btn-link--white btn-reset  modal-btn" data-path='modal-order'>Заказать</button>
					</article>
				</div>
				<div class="diet-swiper__slide product" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="300">
					<article class="product__wrapper">
						<div class="product__info">
							<img loading="lazy" src="img/diet-4.jpg" width="251" height="298" alt="Упаковка еды для взрослых собак" class="product__image">
							<h3 class="product__heading main-text text-reset">
								Для щенков
							</h3>
							<div class="product__type">
								Индейка/Говядина
							</div>
							<p class="product__text text-reset">
								Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
							</p>
							<div class="product__weight text-reset">
								700г / 500г / 300г / 150г / 100г
							</div>
							<button type="button" class="product__btn btn-reset modal-btn" data-path='modal-descr' aria-label="Открыть описание"></button>
						</div>
						<button class="product__order main-btn-link main-btn-link--white btn-reset  modal-btn" data-path='modal-order'>Заказать</button>
					</article>
				</div>
			</div>
		</div>
		<div class="diet__calculate diet-calculate" data-aos="fade-up" data-aos-delay="0">
			<p class="diet-calculate__text text-reset">Рассчитаем в каком количестве нужно кормить вашего хвостика рационами Zooov</p>
			<button class="diet-calculate__btn main-btn-link main-btn-link--red modal-btn btn-reset" data-path='modal-calc'>Расчитать</button>
		</div>
	</div>
</section>