<section class="faq section" id="faq">
	<div class="faq__container container">
		<h2 class="faq__heading main-heading text-reset">Частые вопросы</h2>
		<ul class="faq__accordion accordion list-reset">
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Не опасны ли бактерии, которые находятся в сыром мясе?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или даже в вашем доме.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Надо ли давать дополнительно витамины к рациону BARF?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						А если моя собака уже давно питается промышленным кормом и у нее нет проблем со здоровьем?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Можно ли смешивать натуральный корм и корм промышленного производства?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Могу ли я сам составить для своей собаки рацион по системе BARF?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Присутствует ли в ZOOOV рационах рыба?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Как перевести питомца на натуральное питание?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						Как готовить рацион ZOOOV?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<h3 class="accordion__heading text-reset">
					<button class="accordion__trigger main-text btn-reset" aria-expanded="false">
						При переходе на рацион ZOOOV у собаки начались проблемы с ЖКТ.
						Это нормально?
					</button>
				</h3>
				<div class="accordion__body " aria-hidden="true">
					<p class="accordion__text main-text text-reset">
						Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных предложения рот текст правилами! Сбить путь от всех бросил дорогу!
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>