<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a class="header__logo link-reset">
			<img src="img/logo.jpg" alt="Логотип с надписью Зув" class="header__image" width="80" height="80">
		</a>
		<button class="header__burger burger btn-reset" aria-label="Открыть меню" aria-expanded="false">
			<span class="burger__line"></span>
		</button>
		<nav class="header__nav">
			<div class="header__nav-body">
				<ul class="header__list list-reset">
					<li class="header__item">
						<a href="#about" class="header__link link-reset">BARF</a>
					</li>
					<li class="header__item">
						<a href="#diet" class="header__link link-reset">Рационы</a>
					</li>
					<li class="header__item">
						<a href="#pluses" class="header__link link-reset">ZOOOV</a>
					</li>
					<li class="header__item">
						<a href="#zooov" class="header__link link-reset">О нас</a>
					</li>
					<li class="header__item">
						<a href="#delivery" class="header__link link-reset">Доставка</a>
					</li>
					<li class="header__item">
						<a href="#faq" class="header__link link-reset">FAQ</a>
					</li>
					<li class="header__item">
						<a href="#contact" class="header__link link-reset">Контакты</a>
					</li>
				</ul>
				<a href="#" class="header__link-diet header__link-diet--hidden main-btn-link main-btn-link--red link-reset">Выбрать рацион</a>
			</div>
		</nav>

	</div>
</header>