<section class="hero" id="hero" data-aos="fade-up">
	<div class="hero__container container">
		<h1 class="hero__heading text-reset">
			<span class="hero__text text-reset" data-aos="fade-up" data-aos-delay="100">
				Питание, которое
				<strong class="ellipse" data-aos="stay" data-aos-delay="100">
					полюбит
					<svg class="ellipse__svg ellipse__svg--hero">
						<use xlink:href="img/sprite.svg#ellipse"></use>
					</svg>
				</strong>
				ваш хвостик
			</span>
			<span class="hero__text hero__text--sm text-reset" data-aos="fade-up" data-aos-delay="250">
				Натуральные рационы питания для собак по системе
				<strong class="hero__strong">BARF</strong>
			</span>
		</h1>
		<div class="hero__link-wrap" data-aos="fade-up" data-aos-delay="500">
			<a href="#diet" class="hero__link main-btn-link main-btn-link--red link-reset">Выбрать рацион</a>
		</div>
	</div>
</section>