<div class='modal' id='modal-descr' aria-labelledby="modal-descr-title" aria-describedby='modal-descr-desc' aria-modal='true' role='dialog'>
	<div class='modal__wrapper'>
		<div class='modal__content descr-modal'>
			<button aria-label='Закрыть модальное окно' class='descr-modal__close modal__close close-modal btn-reset'>
			</button>
			<div class="descr-modal__image-preview image-preview">
				<div class="image-preview__main">
					<img loading="lazy" src="img/image-preview1.jpg" width="339" height="400" alt="" class="image-preview__main-img" aria-hidden="true">
				</div>
				<ul class="image-preview__list list-reset">
					<li class="image-preview__item">
						<button class="image-preview__button image-preview__button--active btn-reset" aria-label="Показть первое изображение">
							<img loading="lazy" width="66" height="66" src="img/image-preview1.jpg" alt="" class="image-preview__img" aria-hidden="true">
						</button>
					</li>
					<li class="image-preview__item">
						<button class="image-preview__button btn-reset" aria-label="Показть второе изображение">
							<img loading="lazy" width="66" height="66" src="img/image-preview2.jpg" alt="" class="image-preview__img" aria-hidden="true">
						</button>
					</li>
					<li class="image-preview__item">
						<button class="image-preview__button btn-reset" aria-label="Показть третье изображение">
							<img loading="lazy" width="66" height="66" src="img/image-preview3.jpg" alt="" class="image-preview__img" aria-hidden="true">
						</button>
					</li>
					<li class="image-preview__item">
						<button class="image-preview__button btn-reset" aria-label="Показть четвертое изображение">
							<img loading="lazy" width="66" height="66" src="img/image-preview4.jpg" alt="" class="image-preview__img" aria-hidden="true">
						</button>
					</li>
				</ul>
			</div>
			<div class="descr-modal__info">
				<h3 class='descr-modal__title text-reset' id='modal-descr-title'>
					Для взрослых собак
				</h3>
				<div class="descr-modal__type">
					Индейка/Говядина
				</div>
				<p class="descr-modal__text text-reset" id='modal-descr-desc'>
					Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
				</p>
				<p class="descr-modal__composition text-reset">
					<span>Состав:</span> Мякоть баранины (46,5%), мясо кролика (23,5%), кости
					кролика (10%), печень баранины (5%), почки бараньи (2,5%),
					рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
					конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
					конопляное масло.
				</p>
				<p class="descr-modal__value text-reset">
					<span>Пищевая ценность на 100г: </span>174.9 ккал,
					белки 16.45, жиры 11.9, углеводы 0.60
				</p>
				<div class="descr-modal__weight text-reset">
					700г / 500г / 300г / 150г / 100г
				</div>
				<button class="descr-modal__order main-btn-link main-btn-link--white btn-reset modal-btn" data-path='modal-order'>Заказать</button>
			</div>
		</div>
	</div>
</div>