<div class='modal' id='modal-response' aria-labelledby="modal-response-title" aria-describedby='modal-response-desc' aria-modal='true' role='dialog'>
	<div class='modal__wrapper'>
		<div class='modal__content'>
			<button aria-label='Close Modal' class='modal__close close-modal btn-reset'>
				×
			</button>
			<div class='modal__body response-modal'>
				<div class="response-modal__image">
					<img loading="lazy" src="img/diet-1.jpg" width="340" height="404" alt="Ваш рацион" class="response-modal__img">
				</div>
				<div class="response-modal__info">
					<h3 class='response-modal__title text-reset' id='modal-response-title'>
						Спасибо!
					</h3>
					<p class='response-modal__desc text-reset' id='modal-response-desc'>
						Ваш заказ оформлен и передан менеджеру.
						Мы свяжемся с вами для уточнения и подтверждения в ближайшее время.
					</p>
					<p class='response-modal__desc text-reset'>
						Если вы захотите дополнить свой заказ или уточнить какие-то детали – вы сможете это сделать у оператора.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>