<section class="pluses section" id="pluses">
	<div class="pluses__container container">
		<h2 class="pluses__heading main-heading text-reset">
			Почему ZOOOV
		</h2>
		<ul class="pluses__list list-reset">
			<li class="pluses__item  plus plus--paper">
				<h3 class="plus__heading text-reset">
					Натурально
				</h3>
				<p class="plus__text main-text text-reset">
					Все продукты тщательно отбираем у проверенных поставщиков.
				</p>
			</li>
			<li class="pluses__item  plus plus--heart">
				<h3 class="plus__heading text-reset">
					Здорово
				</h3>
				<p class="plus__text main-text text-reset">
					Система питания, которая продлевает жизнь
					вашего хвостика.
				</p>
			</li>
			<li class="pluses__item  plus plus--rocket">
				<h3 class="plus__heading text-reset">
					Быстро
				</h3>
				<p class="plus__text main-text text-reset">
					Сделайте заказ на сайте
					и с вами свяжется наш менеджер для уточнения деталей.</p>
			</li>
			<li class="pluses__item  plus plus--smile">
				<h3 class="plus__heading text-reset">
					Удобно
				</h3>
				<p class="plus__text main-text text-reset">
					Достаточно разморозить порцию ZOOOV, удалить отрывную крышку с лотка и обед для вашего питомца готов.</p>
			</li>
		</ul>
	</div>
</section>