<section class="zooov" id="zooov">
	<div class="zooov__container container">
		<div class="zooov__images" data-aos="fade-up" data-aos-delay="0" data-aos-duration="2000">
			<img loading="lazy" src="img/zooov.png" width="323" height="433" alt="Собачки" class="zooov__image zooov__image--desk">
			<img loading="lazy" src="img/zooov-mobile.png" alt="Собачки" class="zooov__image  zooov__image--mobile">
			<img loading="lazy" src="img/zooov-3.png" width="90" height="90" alt="Питбуль" class="zooov__image zooov__image--dog">
			<img loading="lazy" src="img/zooov-4.png" width="90" height="90" alt="Сердечко" class="zooov__image  zooov__image--heart">
		</div>

		<div class="zooov__info">
			<h2 class="zooov__heading main-heading text-reset" data-aos="fade-up" data-aos-delay="0">
				С заботой и <span class="zooov__dashes">любовь</span> от <span class="zooov__dashes zooov__dashes--mobile">Zooov</span>
			</h2>
			<p class="zooov__text text-reset main-text" data-aos="fade-left" data-aos-delay="0">
				Мы сами владельцы собак и знаем, как важно правильное и качественное питание для долгой и счастливой жизни вашего питомца. Для нас ZOOOV это не просто бизнес, это наш вклад в повышение качества жизни всех собак.
			</p>
			<p class="zooov__text text-reset main-text" data-aos="fade-left" data-aos-delay="50">
				Мы знаем, как правильно подобрать и переработать мясо, субпродукты, овощи и фрукты, чтобы питание вашего питомца было максимально сбалансированным и полезным.
			</p>
			<p class="zooov__text text-reset main-text" data-aos="fade-left" data-aos-delay="100">
				Обычного сырого мяса из магазина будет недостаточно для полноценного питания собаки. ZOOOV — экономия времени, вам не придется искать необходимые составляющие для рациона.
			</p>
			<p class="zooov__text text-reset main-text" data-aos="fade-left" data-aos-delay="150">
				Мы сами отбираем мясо, кости, легкие, печень и другие говяжьи, кроличьи и птичьи субпродукты у проверенных поставщиков. Закупаем органические овощи и используем разнообразные масла, такие как конопляное и льняное.
			</p>
			<p class="zooov__text text-reset main-text" data-aos="fade-left" data-aos-delay="200">
				ZOOOV — это удобно, мы доставляем готовый рацион на две недели уже смешанным, расфасованным и упакованным в порционные лотки,готовыми к заморозке. За два часа до кормления достаточно переместить контейнер из морозилки в холодильник для ПРАВИЛЬНОЙ разморозки.
			</p>
		</div>
	</div>
</section>