.classification-swiper {
	position: relative;
	z-index: 1;

	overflow: hidden;

	width: 100%;
	background: var(--color-oysetr-pink) url(../img/about-dashed-line.svg) center/contain no-repeat;
	@media (max-width: $md3+px) {
		background: var(--color-oysetr-pink) url(../img/about-dashed-line--mobile.svg) center/contain no-repeat;
	}
	&__pagination {
		position: absolute;
		bottom: 24px;
		left: 50%;
		z-index: 2;
	}
	&__wrapper {
		display: flex;

		width: 100%;
		height: 100%;
		padding-bottom: 18px;

		@include minwidth(768) {
			padding: 32px 40px;
			@media (max-width: $md1+px) {
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
	&__slide {
		flex-shrink: 0;
		@include minwidth(768) {
			flex: 0 0 50%;
		}
	}
}
